html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.col-auto {
    flex: 0 0 auto;
    width: 150px !important;
}
.form-control,select {
    width: 300px !important;
}

.disFlex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap
}

